@import '../../node_modules/inuit-defaults/settings.defaults';
@import '../../node_modules/inuit-normalize/generic.normalize';
@import '../../node_modules/inuit-shared/generic.shared';
@import '../../node_modules/inuit-box-sizing/generic.box-sizing';


/** FONTS **/
@font-face {
  font-family: 'london-tube';
  src: url('./../../public/fonts/london-tube.woff2') format('woff2'),
       url('./../../public/fonts/london-tube.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/** SETTINGS **/
$palm-width: 690px;
$lap-width: 1200px;
$desktop-width: 1400px;


/** MIXINS **/
@mixin palm {
  @media (max-width: #{$palm-width}) {
    @content;
  }
}

@mixin lap {
  @media (max-width: #{$lap-width}) {
    @content;
  }
}


/** UTILS **/
.u-scroll-wrapper {
  overflow-y: scroll;
}

.t-left {
  text-align: left;
}

.is-dark {
  color: #444444;
}

.has-children {
  text-align: left;

    & .index-item {
      padding-left: 27px;
      text-align: left;

        @include palm {
          text-align: center;
          padding: inherit;
        }
    }
}

.sticky-bottom {
  position: absolute;
  display: block;
  right: 15px;
  bottom: -15px; //scrollbar
  font-size: 10px;
  font-family: Sans-Serif;
  font-weight: 300;

    a {
      text-decoration: underline;
    }

    @include palm {
      display: none;
    }
}

/** MISC **/
.spinner {
  font-size: 72px;
  opacity: 0.3;
  animation: fadeInOut 0.9s ease-in 0 alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


/** BASE **/
html {
  height: 100%;
  overflow: hidden;
}

body, #app {
  height: 100vh;
  width: 100%;
  user-select: none;
  font-family: london-tube, Sans-Serif;
  letter-spacing: 0.5px;
  color: #F8F8F8;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

/** LAYOUT **/
.flex {
  display: flex;
  flex-flow: row wrap;
}

.inner-flex {
  width: 100%;
  flex: 1;

    @include palm {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    &:last-of-type {
      border-bottom: none !important;
    }

    & > h1 {
      word-break: break-word;
      text-shadow: 0px 1px 0px rgba(0,0,0,0.2);

      @include palm {
        font-size: 24px;
      }
    }

    @include lap {
      flex: 1 0 auto;
    }
}

.full-height {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


/** PAGES **/
.index {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  .index-item {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

      span {
        opacity: 0.8;
        font-size: 75%;
      }

      @include palm {
        font-size: 20px;
      }
  }

.stations {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  box-shadow: -5px 0 10px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: background 450ms ease-out;
  text-align: left;

    @include palm {
      width: 100%;
    }

    &.has-children .u-scroll-wrapper > div {
      @include palm {
        display: none;
      }

      &:last-of-type {
        @include palm {
          display: block;
        }
      }
    }
}


.station-item {
  display: block;
  padding: 24px;

    &:hover {
      font-weight: 700;
    }

    @include palm {
      text-align: center;
      font-size: 20px;
    }
}

.departures {
  display: block !important;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh + 15px); //scrollbars
  position: absolute;
  top: 0;
  right: -15px; //scrollbars
  width: 75%;
  text-align: center;
  overflow: scroll;
  margin-right: 15px; //scrolling
  padding: 0 24px;

    & .title {
      padding-left: 0;
    }

    @include palm {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      right: 0;
      padding: 4px 24px 34px;
      position: relative;
      overflow-y: scroll;
    }
}
  .departure-item {
    margin-bottom: 22px;
  }
    .departure-item__content {
      letter-spacing: 1.5px;
    }


.four-one-four {
  height: 100vh;
  width: 100%;
  padding: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #444;
  text-align: center;
}


/** TYPOGRAPHY **/
.title {
  display: none;
  padding: 24px 24px 0px;
  font-size: 21px;
  text-align: left;

    & > a {
      display: block;

        & > span {
          display: inline-block;
          margin-left: 12px;
        }
    }
}

.link {
  text-decoration: underline;
}

/** UTILITY **/
.show-mobile {
  @include palm {
    display: block;
  }
}


/** ANIMATIONS **/
.scale-transition-enter {
  -webkit-animation: scaleUp .6s ease both;
  animation: scaleUp .6s ease both;
}
.scale-transition-appear {
  -webkit-animation: scaleUp .6s ease both;
  animation: scaleUp .6s ease both;
}
@-webkit-keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes fadeInOut {
  0% { opacity: 0.3; transform: scale(0.95); }
  100% { opacity: 0.9; transform: scale(1); }
}
@keyframes fadeInOut {
  0% { opacity: 0.3; transform: scale(0.95); }
  100% { opacity: 0.9; transform: scale(1); }
}
